<main class="container my-5">
    <div class="row">
      <div class="col-lg-8">
        <h1 class="mb-4">Sobre</h1>
        <p class="lead">Bem-vindo à página Sobre do Meu Site. Somos uma empresa que se dedica a fornecer informações úteis e de qualidade para nossos clientes. Se você está procurando aprender mais sobre algum assunto específico, ou precisa de ajuda com alguma tarefa, estamos aqui para ajudá-lo.</p>
        <p>Temos uma equipe de profissionais experientes e altamente qualificados que estão sempre prontos para ajudar nossos clientes a atingir seus objetivos. Não importa qual seja a sua necessidade, podemos fornecer soluções sob medida que se adequam às suas necessidades específicas.</p>
      </div>
      <div class="col-lg-4">
        <img src="src/img/logo-lbfb.png" class="img-fluid rounded" alt="Imagem de exemplo">
      </div>
    </div>
  </main>